@import url('https://fonts.googleapis.com/css?family=Playball');

.App {
  text-align: center;
}

.container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar{
  background-color: #505050;
}

.navbar-brand{
  font-family: 'Playball', cursive;
}

.d-inline-block {
  margin-right: 15px;
}